<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale-1.0, width=device-width"/>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "DnB Girls | Socially Evolved" %></title>


    <%= stylesheet_link_tag "style", "normalize", "all" %>
    <%= javascript_include_tag "all",  %>

  </head>

  <header class="site-header">
    <nav>
      <div class="nav-bar">
        <h1>SIREN</h1><i>Charming pants off since 2014</i>
        <div class="nav-links" id="nav">
          <a class="main-nav" href="#">Home</a>
          <a class="main-nav" href="#About">About</a>
          <a class="main-nav" href="#about">The Girls</a>
          <a class="main-nav" href="#links">Links</a>
          <a class="main-nav" href="#news">News</a>
          <a class="main-nav" href="#press">Press</a>
          <a class="main-nav last" href="#contact">Contact</a>
        </div>
      </div>
    </nav>
  </header>


  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial 'footer' %>
  </body>
</html>