<% @title = data.bios.iris.name %>

<div class="profile-header">
  <div class="profile-images">
    <% data.bios.iris.images.each do |i| %>
      <div class="image"><%= image_tag(i) %></div>
    <% end %>
  </div>
  <div class="name-container">
    <h1><%= data.bios.iris.name %></h1>
    <div class="social-media">
      <% link_to(data.bios.iris.facebook, :target => "_blank") do %>
        <i class="fa fa-facebook-square"></i>
      <% end %>
      <% link_to(data.bios.iris.soundcloud, :target => "_blank") do %>
        <i class="fa fa-soundcloud"></i>
      <% end %>
      <% link_to(data.bios.iris.twitter, :target => "_blank") do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <% link_to(data.bios.iris.instagram, :target => "_blank") do %>
        <i class="fa fa-instagram"></i>
      <% end %>
    </div>
    <h3><%= data.bios.iris.affiliations %></h3>
  </div>
</div>

<div class="profile-content">
  <div class="soundcloud">
    <%= data.bios.iris.soundcloud_link %>
  </div>
  <div class="bio">
    <%= data.bios.iris.bio %>
  </div>
</div>